In [ ]:
pip install networkx

In [1]:
import pandas as pd 
import numpy as np
import networkx as nx
import sys
from sklearn.cluster import SpectralClustering
import matplotlib.pyplot as plt

In [ ]:
def abundance_to_edge_list(df):
    
    df_list = []
    for index, rows in df_new.iterrows():
        df_list.append
        
    stacked_df_values = df_new.stack()
    final_df = pd.DataFrame(stacked_df_values, columns=["destination","values"])
    final_df = final_df.reset_index()
    final_df = final_df.rename(columns = {"level_0":"p_id", "level_1":"mp_id"})
    final_df["p_id"] = final_df["p_id"] +1

In [ ]:
df_sample = pd.read_csv('mp_samples.csv')
df_sample.head()

In [ ]:
df_new = df_sample.iloc[:, 2:]
df_list = []
for index, rows in df_new.iterrows():
    df_list.append

In [ ]:
stacked_df_values = df_new.stack()
print(type(stacked_df_values))

In [ ]:
final_df = pd.DataFrame(stacked_df_values, columns=["destination","values"])
final_df.index

In [ ]:
final_df = final_df.reset_index()

In [ ]:
final_df = final_df.rename(columns = {"level_0":"p_id", "level_1":"mp_id"})

In [ ]:
final_df

In [ ]:
final_df["p_id"] = final_df["p_id"] +1

In [ ]:
final_df

In [ ]:
df_csv = pd.read_csv("mp_samples.csv")
df_csv.head()

In [ ]:
df_csv_data = df_csv.iloc[:, 2:2971]
df_csv_data.head()

In [2]:
df_graph = pd.read_csv("graph.csv")
df_graph.head()

,Unnamed: 0,sid,values,class,did,family,order,genus,phylum,kingdom,metaprotein,species,superkingdom
0,0,1,0,Mammalia,382,Hominidae,Primates,Homo,Chordata,Metazoa,CATG_HUMAN Cathepsin G OS=Homo sapiens GN=CTSG...,Homo sapiens,Eukaryota
1,1,1,0,Mammalia,2881,Hominidae,Primates,Homo,Chordata,Metazoa,RP1L1_HUMAN Retinitis pigmentosa 1-like 1 prot...,Homo sapiens,Eukaryota
2,2,1,2,unassigned,2787,unassigned,unassigned,unassigned,Chordata,Metazoa,TTHY_PANTR Transthyretin OS=Pan troglodytes GN...,unassigned,Eukaryota
3,3,1,0,Actinobacteria,2688,Bifidobacteriaceae,Bifidobacteriales,Bifidobacterium,Actinobacteria,unassigned,TIG_BIFAA Trigger factor OS=Bifidobacterium ad...,unassigned,Bacteria
4,4,1,0,Bacteroidia,2589,Bacteroidaceae,Bacteroidales,Bacteroides,Bacteroidetes,unassigned,SUSC_BACTN TonB-dependent receptor SusC OS=Bac...,Bacteroides thetaiotaomicron,Bacteria

In [ ]:
df_graph.shape

In [3]:
df_adjacency_matrix = df_graph[['sid', 'did', 'values']]
df_adjacency_matrix.head()

   sid   did  values
0    1   382       0
1    1  2881       0
2    1  2787       2
3    1  2688       0
4    1  2589       0

In [4]:
df_adjacency_matrix['sid'] = 'p' + df_adjacency_matrix['sid'].astype(str)
df_adjacency_matrix['did'] = 'mp' + df_adjacency_matrix['did'].astype(str)
df_adjacency_matrix

C:\Users\49171\AppData\Local\Temp\ipykernel_4740\4102056461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adjacency_matrix['sid'] = 'p' + df_adjacency_matrix['sid'].astype(str)
C:\Users\49171\AppData\Local\Temp\ipykernel_4740\4102056461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adjacency_matrix['did'] = 'mp' + df_adjacency_matrix['did'].astype(str)

        sid     did  values
0        p1   mp382       0
1        p1  mp2881       0
2        p1  mp2787       2
3        p1  mp2688       0
4        p1  mp2589       0
...     ...     ...     ...
142507  p48   mp178       5
142508  p48   mp266       0
142509  p48   mp420       0
142510  p48   mp165       0
142511  p48   mp323       0

[142512 rows x 3 columns]

In [ ]:
# values_list = df_adjacency_matrix[["values"]]
# values_dict = dict.fromkeys(range(len(df_adjacency_matrix)), values_list)
# values_dict

In [ ]:
# values_array = df_adjacency_matrix[["values"]].to_numpy()
# values_array
# values_array.shape

In [ ]:
# adjacency_matrix = pd.crosstab(df_adjacency_matrix.sid, df_adjacency_matrix.did, values = values_array, 
#                                aggfunc = "count")
# idx = adjacency_matrix.columns.union(adjacency_matrix.index)
# adjacency_matrix = adjacency_matrix.reindex(index = idx, columns=idx, fill_value=0)

In [ ]:
# adjacency_matrix

In [5]:
values_list = df_adjacency_matrix.values.tolist()
G = nx.MultiGraph()

for i in range(len(values_list)):
    G.add_edge(values_list[i][0], values_list[i][1], weight=values_list[i][2])
    
# G = nx.from_pandas_edgelist(df_adjacency_matrix, 'sid', 'did', ['values'], create_using=nx.DiGraph())
# adj_mat = nx.to_pandas_adjacency(G, dtype=int)

adj_mat = nx.adjacency_matrix(G).A

C:\Users\49171\AppData\Local\Temp\ipykernel_4740\185151609.py:10: FutureWarning: adjacency_matrix will return a scipy.sparse array instead of a matrix in Networkx 3.0.
  adj_mat = nx.adjacency_matrix(G).A

In [6]:
# adj_mat = nx.adjacency_matrix(G).A
adj_mat

array([[ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ..., 34, 10, 13],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0, 34,  0, ...,  0,  0,  0],
       [ 0, 10,  0, ...,  0,  0,  0],
       [ 0, 13,  0, ...,  0,  0,  0]], dtype=int32)

In [8]:
aff_mat = nx.to_scipy_sparse_matrix(G)

C:\Users\49171\AppData\Local\Temp\ipykernel_4740\4138629699.py:1: DeprecationWarning:

The scipy.sparse array containers will be used instead of matrices
in Networkx 3.0. Use `to_scipy_sparse_array` instead.
  aff_mat = nx.to_scipy_sparse_matrix(G)

In [ ]:
spec_clust_csv = SpectralClustering(n_clusters = 3, affinity='nearest_neighbors').fit(df_csv_data)

In [ ]:
spec_clust_csv.labels_

In [13]:
np.set_printoptions(threshold=np.inf)
spec_clust = SpectralClustering(n_clusters = 4, affinity='precomputed').fit_predict(adj_mat)
spec_clust

C:\Users\49171\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\manifold\_spectral_embedding.py:260: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn(

array([2, 1, 3, 1, 2, 1, 1, 2, 3, 1, 1, 3, 0, 0, 2, 1, 1, 1, 2, 2, 1, 3,
       0, 0, 1, 3, 0, 2, 1, 1, 3, 3, 3, 2, 3, 1, 3, 2, 2, 2, 1, 2, 0, 0,
       1, 1, 0, 1, 2, 0, 1, 1, 3, 2, 1, 1, 0, 1, 1, 3, 1, 2, 3, 1, 1, 2,
       1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 2, 2, 3, 1, 1, 2,
       3, 3, 1, 2, 1, 1, 2, 2, 0, 2, 0, 2, 0, 0, 2, 3, 2, 2, 1, 3, 2, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 3, 0, 1, 1, 3, 0, 3, 1, 3, 2, 1, 3,
       2, 1, 2, 3, 1, 0, 1, 3, 1, 0, 3, 1, 1, 0, 1, 0, 1, 1, 1, 3, 0, 1,
       2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 2, 0, 2, 1, 3, 0, 0, 0, 1, 1, 2, 2,
       1, 1, 3, 1, 1, 1, 0, 3, 1, 3, 1, 1, 2, 1, 1, 3, 1, 1, 1, 1, 2, 3,
       1, 1, 3, 3, 1, 3, 2, 1, 1, 1, 3, 0, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1,
       1, 1, 2, 3, 3, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 3, 3,
       1, 1, 3, 2, 2, 1, 1, 3, 3, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       3, 1, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 0, 3, 2, 1, 2, 2, 0, 3,
       2, 1, 1, 2, 3, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 3, 3, 1, 3, 1, 2, 2, 1, 1, 1, 1,
       2, 2, 0, 1, 1, 2, 2, 0, 1, 0, 1, 1, 1, 3, 3, 0, 1, 1, 1, 1, 1, 2,
       1, 1, 0, 1, 1, 1, 3, 0, 2, 2, 3, 2, 0, 2, 0, 1, 1, 1, 1, 1, 1, 1,
       3, 1, 1, 1, 1, 0, 2, 3, 2, 3, 2, 0, 0, 1, 1, 2, 2, 2, 1, 1, 1, 2,
       1, 3, 1, 1, 2, 3, 1, 1, 0, 1, 3, 3, 3, 2, 3, 1, 0, 2, 2, 3, 0, 1,
       0, 2, 3, 1, 1, 1, 3, 2, 0, 1, 1, 1, 1, 1, 0, 1, 2, 1, 1, 2, 1, 2,
       2, 2, 1, 1, 1, 3, 0, 1, 3, 0, 1, 2, 0, 3, 1, 3, 2, 1, 1, 1, 1, 2,
       2, 0, 0, 0, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1, 3, 2, 2, 2, 2, 2, 1, 3,
       2, 1, 3, 1, 1, 2, 1, 2, 3, 3, 2, 1, 2, 1, 2, 1, 3, 3, 2, 1, 3, 1,
       1, 3, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 2, 3, 1, 1, 1, 2, 1, 2, 2, 3,
       1, 3, 1, 1, 2, 1, 1, 2, 2, 1, 2, 2, 3, 3, 0, 2, 2, 1, 2, 2, 1, 2,
       2, 1, 3, 3, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 3, 2, 2, 2, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 2, 3, 2, 1, 1, 1, 2, 1, 2, 1, 1, 0, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 2, 2, 1, 3, 1, 1, 2, 3, 2, 1, 2, 2, 2, 2, 1, 1, 2, 1,
       1, 1, 3, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 3, 1, 3, 2, 2,
       2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 3, 1, 2, 2, 1, 2, 1, 2,
       2, 2, 2, 2, 3, 2, 1, 2, 2, 1, 1, 2, 1, 1, 3, 1, 2, 1, 1, 1, 3, 1,
       2, 1, 3, 3, 1, 2, 1, 3, 0, 1, 1, 2, 2, 1, 1, 1, 1, 3, 2, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 2, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1,
       3, 1, 1, 2, 2, 3, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 3,
       2, 2, 1, 2, 2, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, 2, 1, 2,
       0, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 3, 1, 2, 2, 1, 2, 1, 1,
       1, 1, 2, 2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 1, 3, 1, 3, 2, 1, 1,
       1, 1, 3, 2, 2, 3, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 0, 2, 2, 3, 2,
       2, 2, 2, 1, 2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 1, 3, 3, 1, 1, 2, 1, 2,
       2, 2, 1, 2, 1, 1, 3, 2, 1, 2, 2, 2, 1, 3, 2, 1, 3, 3, 3, 1, 2, 1,
       1, 1, 1, 3, 1, 2, 2, 2, 2, 2, 3, 1, 2, 1, 3, 1, 0, 2, 1, 1, 2, 1,
       0, 1, 3, 1, 1, 2, 1, 2, 2, 2, 1, 3, 1, 2, 2, 2, 1, 2, 1, 2, 2, 1,
       1, 2, 3, 1, 2, 3, 1, 2, 2, 2, 2, 1, 2, 3, 1, 2, 1, 3, 3, 2, 2, 2,
       1, 1, 3, 2, 1, 2, 1, 1, 2, 2, 3, 2, 3, 1, 1, 1, 2, 1, 1, 2, 2, 1,
       2, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 1, 2, 1, 0, 2, 1, 3, 2, 0,
       1, 0, 3, 1, 1, 0, 3, 3, 2, 1, 2, 2, 0, 2, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 2, 3, 1, 1, 1, 1, 2, 1, 1, 1, 3, 2, 1, 2, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 3, 2, 2, 1, 0, 2, 0, 2, 1, 0, 2, 1, 0, 2, 1, 1,
       3, 1, 1, 1, 1, 0, 1, 1, 3, 2, 1, 2, 3, 1, 0, 1, 2, 3, 2, 2, 3, 1,
       3, 2, 2, 1, 1, 3, 0, 1, 1, 1, 2, 1, 1, 0, 0, 0, 0, 1, 1, 2, 3, 1,
       0, 1, 1, 1, 1, 1, 2, 2, 0, 2, 2, 1, 0, 2, 1, 2, 2, 3, 0, 2, 1, 2,
       3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 3, 0, 1, 3, 2, 1,
       2, 0, 3, 2, 0, 1, 2, 3, 1, 2, 1, 1, 1, 2, 2, 1, 0, 1, 0, 2, 1, 1,
       1, 1, 2, 0, 1, 2, 2, 0, 2, 0, 3, 1, 1, 1, 2, 1, 0, 1, 2, 2, 3, 3,
       2, 3, 2, 1, 2, 1, 1, 1, 3, 1, 2, 3, 1, 1, 3, 3, 3, 2, 0, 1, 2, 0,
       1, 1, 2, 1, 2, 0, 3, 2, 2, 3, 2, 1, 0, 1, 2, 2, 0, 2, 1, 1, 1, 1,
       1, 1, 2, 1, 2, 1, 3, 3, 0, 1, 1, 3, 1, 2, 1, 2, 1, 0, 0, 1, 2, 3,
       2, 0, 0, 0, 1, 0, 0, 0, 1, 2, 1, 3, 1, 1, 1, 0, 0, 1, 1, 1, 2, 1,
       2, 1, 1, 1, 2, 0, 0, 3, 3, 3, 0, 0, 0, 0, 1, 1, 0, 0, 3, 1, 2, 1,
       3, 1, 1, 0, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 2, 3, 2,
       1, 2, 2, 1, 1, 1, 1, 3, 3, 1, 2, 1, 1, 1, 1, 0, 3, 1, 1, 1, 2, 1,
       1, 2, 1, 1, 2, 1, 3, 0, 1, 3, 2, 1, 0, 0, 0, 2, 2, 1, 3, 1, 3, 2,
       2, 0, 3, 1, 3, 1, 3, 0, 1, 0, 2, 2, 0, 1, 1, 2, 3, 1, 1, 0, 3, 3,
       2, 2, 0, 1, 0, 2, 2, 0, 1, 3, 2, 1, 1, 2, 2, 1, 2, 3, 1, 2, 0, 3,
       2, 2, 1, 1, 1, 0, 1, 2, 2, 1, 1, 3, 3, 1, 1, 1, 0, 3, 2, 1, 1, 1,
       0, 1, 1, 3, 1, 0, 2, 2, 2, 3, 0, 0, 2, 0, 1, 1, 3, 1, 3, 2, 1, 2,
       1, 0, 2, 1, 1, 1, 3, 2, 3, 1, 1, 1, 3, 2, 3, 3, 3, 3, 1, 2, 3, 1,
       1, 0, 0, 2, 1, 1, 1, 1, 2, 1, 1, 0, 0, 1, 2, 1, 2, 1, 0, 1, 2, 3,
       0, 0, 2, 1, 1, 1, 1, 0, 1, 1, 2, 1, 1, 1, 1, 0, 0, 1, 3, 3, 2, 1,
       3, 0, 3, 1, 0, 0, 1, 0, 1, 0, 3, 2, 2, 1, 1, 1, 1, 2, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 2, 2, 1, 1, 2, 0, 1, 0, 1, 1, 0, 0, 1, 2, 0, 1, 0,
       2, 2, 0, 0, 2, 2, 1, 2, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       3, 1, 2, 1, 1, 0, 1, 2, 1, 0, 1, 0, 2, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 2, 3, 1, 0, 2, 2, 1, 1, 2, 2, 3, 1, 2, 2, 0, 1, 0, 1, 3, 1, 1,
       0, 1, 1, 0, 2, 2, 3, 1, 0, 0, 1, 3, 1, 0, 1, 1, 1, 2, 1, 2, 3, 0,
       0, 2, 2, 2, 1, 1, 1, 1, 3, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 2, 1, 0, 3, 0, 1, 1, 3, 1, 3, 2, 1, 2, 1, 0, 1, 0, 0, 2, 3, 1,
       2, 1, 0, 1, 2, 1, 1, 0, 0, 3, 0, 2, 1, 0, 0, 1, 1, 1, 0, 2, 2, 1,
       0, 1, 2, 2, 1, 3, 1, 1, 3, 0, 1, 3, 1, 2, 1, 1, 0, 1, 1, 3, 2, 0,
       1, 0, 1, 3, 0, 1, 1, 2, 1, 0, 2, 0, 1, 1, 0, 2, 3, 1, 2, 1, 2, 3,
       1, 2, 2, 1, 0, 0, 0, 3, 1, 0, 1, 1, 1, 0, 2, 2, 1, 1, 1, 2, 1, 1,
       1, 1, 1, 1, 2, 3, 0, 1, 1, 1, 1, 2, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       2, 0, 1, 1, 3, 1, 1, 2, 2, 1, 2, 0, 2, 2, 0, 1, 1, 1, 2, 2, 1, 1,
       1, 1, 3, 3, 1, 0, 0, 0, 2, 0, 0, 1, 1, 2, 1, 3, 1, 0, 3, 2, 0, 0,
       1, 1, 1, 1, 1, 0, 2, 1, 0, 1, 0, 1, 2, 2, 2, 1, 1, 1, 1, 1, 0, 1,
       3, 1, 1, 2, 1, 2, 0, 0, 1, 1, 0, 2, 1, 2, 1, 0, 1, 3, 1, 0, 1, 0,
       1, 1, 3, 3, 0, 3, 1, 1, 3, 0, 0, 1, 1, 0, 0, 1, 3, 1, 1, 0, 2, 2,
       1, 3, 0, 1, 1, 0, 0, 1, 2, 1, 1, 3, 2, 0, 1, 1, 0, 2, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 3, 1, 1, 2, 2, 1, 1, 0, 0,
       3, 0, 1, 0, 2, 1, 1, 0, 2, 0, 0, 2, 1, 0, 2, 2, 2, 1, 1, 1, 1, 2,
       3, 2, 2, 3, 1, 1, 1, 2, 2, 1, 0, 1, 2, 0, 1, 1, 1, 1, 0, 0, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 0, 2, 0, 1,
       2, 1, 1, 1, 0, 0, 2, 1, 1, 1, 3, 1, 0, 2, 1, 2, 2, 1, 1, 1, 3, 1,
       1, 1, 1, 3, 2, 3, 3, 2, 1, 2, 1, 3, 3, 0, 2, 3, 1, 3, 2, 3, 1, 1,
       0, 2, 1, 3, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 3, 1, 2, 1, 2, 1, 1,
       3, 1, 1, 2, 2, 1, 1, 0, 2, 3, 1, 1, 1, 1, 0, 2, 2, 2, 1, 3, 1, 0,
       2, 3, 0, 2, 1, 2, 1, 1, 2, 3, 2, 1, 3, 1, 2, 0, 1, 2, 1, 2, 1, 2,
       0, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 3, 1, 1,
       1, 2, 2, 1, 1, 1, 1, 1, 0, 1, 3, 2, 3, 0, 1, 1, 1, 1, 3, 1, 2, 1,
       1, 1, 3, 3, 1, 2, 3, 1, 3, 2, 1, 1, 1, 1, 0, 3, 1, 1, 3, 1, 2, 0,
       1, 2, 1, 0, 2, 1, 3, 3, 1, 0, 2, 1, 3, 1, 0, 1, 1, 1, 2, 3, 2, 1,
       1, 3, 0, 2, 1, 1, 1, 0, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2,
       2, 2, 1, 1, 1, 2, 2, 1, 0, 1, 1, 1, 3, 2, 1, 0, 0, 2, 2, 3, 1, 1,
       0, 1, 2, 3, 3, 1, 1, 1, 1, 2, 2, 0, 0, 3, 1, 2, 1, 1, 0, 3, 1, 1,
       2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 3, 0, 2, 2, 2, 1, 3, 1, 2, 1,
       1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2, 3, 2, 1, 1, 1, 2, 3, 2, 1, 2,
       1, 0, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 0, 1,
       1, 2, 1, 2, 1, 1, 3, 3, 2, 2, 2, 2, 3, 0, 1, 1, 1, 3, 3, 2, 1, 1,
       1, 0, 1, 1, 2, 2, 1, 1, 2, 0, 0, 1, 2, 1, 1, 1, 3, 2, 0, 2, 1, 1,
       0, 2, 1, 0, 0, 2, 1, 1, 1, 3, 3, 1, 2, 1, 2, 0, 2, 3, 2, 1, 2, 3,
       1, 1, 3, 2, 2, 2, 2, 1, 2, 3, 2, 1, 2, 1, 2, 1, 0, 1, 2, 2, 1, 2,
       1, 2, 0, 3, 1, 3, 1, 2, 2, 1, 3, 1, 1, 1, 2, 1, 1, 1, 2, 1, 3, 1,
       2, 2, 2, 0, 2, 1, 1, 1, 3, 0, 1, 3, 1, 0, 0, 3, 1, 0, 1, 1, 1, 1,
       1, 3, 1, 1, 2, 1, 1, 0, 2, 1, 1, 2, 0, 2, 1, 2, 3, 1, 3, 1, 1, 3,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 3, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 3, 1, 1, 1, 1, 2,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 3, 1, 1, 3, 2, 2, 0, 2, 3, 3, 2, 1, 1,
       1, 1, 2, 3, 0, 1, 2, 3, 3, 1, 1, 1, 1, 3, 1, 1, 0, 3, 2, 2, 0, 2,
       1, 1, 1, 0, 3, 1, 3, 2, 1, 1, 2, 3, 3, 3, 1, 1, 1, 1, 1, 2, 1, 1,
       1, 1, 1, 1, 2, 2, 3, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 2, 2,
       2, 0, 1, 1, 1, 0, 1, 3, 2, 2, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 2, 2,
       1, 2, 2, 1, 1, 3, 1, 1, 2, 1, 0, 1, 2, 3, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 2, 2, 3, 1, 1, 2, 1, 1, 2, 1, 3, 2, 3, 2, 3, 1, 1, 0, 0,
       0, 1, 3, 2, 1, 1, 1, 2, 0, 1, 2, 0, 2, 1, 2, 1, 1, 1, 3, 1, 1, 1,
       1, 0, 1, 3, 1, 1, 0, 1, 1, 1, 0, 1, 2, 1, 2, 1, 3, 1, 2, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, 0, 1, 3, 1, 3, 1, 2, 1, 3,
       0, 1, 2, 1, 2, 0, 1, 1, 0, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1,
       2, 2, 1, 3, 2, 3, 3, 1, 3, 2, 0, 1, 0, 2, 3, 1, 1, 2, 1, 1, 1, 1,
       3, 2, 3, 1, 3, 0, 1, 1, 1, 1, 0, 0, 0, 1, 2, 2, 1, 0, 1, 1, 1, 1,
       3, 1, 2, 2, 1, 2, 0, 3, 3, 3, 0, 2, 2, 1, 1, 1, 3, 3, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 2, 0, 3, 2, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 2, 3,
       2, 3, 1, 2, 1, 1, 1, 3, 1, 2, 1, 0, 1, 0, 3, 1, 0, 1, 1, 1, 1, 3,
       2, 1, 3, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 0, 1, 1, 3, 2, 3, 2, 3, 1,
       3, 3, 0, 3, 3, 3, 2, 3, 1, 0, 1, 0, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1,
       3, 2, 3, 1, 2, 2, 1, 1, 1, 3, 2, 1, 2, 1, 2, 1, 1, 0, 1, 1, 2, 3,
       2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3,
       3, 3, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1])

In [11]:
spec_clust.shape

AttributeError: 'SpectralClustering' object has no attribute 'shape'